<% provide(:title, "ログイン") %>

<div class="center">
  <%= form_tag("/session") do %>
    <label class="form-label">メールアドレス</label>
    <input type="email" name="email" class="form-control" value="<%= @email %>">
    <label class="form-label">パスワード</label>
    <input type="password" name="password" class="form-control">
    <input type="submit" value="ログイン" class="btn btn-primary">
  <% end %>
</div>