<% provide(:title, "検索") %>

<%= form_tag "/users/search", :method => 'get' do %>
  <p>人名検索<%= text_field_tag :name_search, params[:name_search] %></p>
  <p>カテゴリ検索</p>
  <p>
    <input type="radio" name="category_search" value="" id="category0">
    <label for="category0" class="radio" id="remore-tag">無指定</label>
    <% @categories.each do |category| %>
      <input type="radio" name="category_search" value="<%= category.id %>" id="category<%= category.id %>">
      <label for="category<%= category.id %>" class="radio add-tag"><%= category.name %></label>
    <% end %>
  </p>
  <p>
    <input type="radio" name="tag_search" value="" id="tag0">
    <label for="tag0" class="radio">無指定</label>
    <% @tags.each do |tag| %>
      <input type="radio" name="tag_search" value="<%= tag.id %>" id="tag<%= tag.id %>">
      <label for="tag<%= tag.id %>" class="radio"><%= tag.name %></label>
    <% end %>
  </p>
  <%= submit_tag "Search", :name => nil, class: "btn btn-lg btn-primary" %>
<% end %>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>カテゴリ１</th>
      <th>カテゴリ２</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= link_to user.name_info, "/users/#{ user.id }" %></th>
        <th><%= user.tag %></th>
        <th><%= user.category %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
