<% provide(:title, @user.name_info + "（#{ @user.category }）") %>

<%= image_tag "users/#{@user.image_name}", size: "80x80", class: "img-thumbnail" %>

<% if @user.id != current_user.id %>
  <h2>プロフィール</h2>
  <h3>タグ：<%= @user.tag_id.nil? == false ? @user.tag : "未設定" %></h3>
  <h2 class="text-center">
    <%= form_for(@room, url: "/room/#{@user.id}/create") do |f| %>
      <%= f.submit "セッションする", class: "btn btn-lg btn-primary" %>
    <% end %>
  </h2>
<% else %>
  <%= form_tag("/image/#{@user.id}/update",{multipart: true}) do %>
    <input type="file" name="image">
    <input type="submit" value="変更">
  <% end %>
  <h2>プロフィール</h2>
  <h3>メールアドレス：<%= @user.email %></h3>
  <h3>タグ：<%= @user.tag_id.nil? == false ? @user.tag : "未設定" %></h3>
  <p>
    <%= form_tag("/tag/#{@user.id}/edit") do %>
      <% @tags.each do |tag| %>
        <input type="radio" name="tag_id" value="<%= tag.id %>" id="radio<%= tag.id %>">
        <label for="radio<%= tag.id %>" class="radio"><%= tag.name %></label>
      <% end %>
      <input type="submit" value="タグ変更" class="btn btn-primary">
    <% end %>
  </p>
<% end %>
