<% provide(:title, "ホームページ") %>

<div id="pricing" class="text-center">
  <h2>新規登録はこちらから</h2>
  <div class="btn btn-lg btn-primary signin-pricing">新規登録</div>
</div>

<div class="apply-modal-wrapper" id="signin-modal">
  <div class="modal jumbotron">
    <div id="close-signin-modal">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <%= render "users/signin" %>
  </div>
</div>
