<% provide(:title, "セッション中の相手") %>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ルーム名</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <th><%= link_to room.roomname, "room/#{room.room_id}" %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>