<% provide(:title, @room.name) %>

<section class="chat">
  <h2><%= link_to "コメントを投稿する", new_post_path, remote: true %></h2>
  <div id="post-form"></div>
  <div class="chats-container open" id="posts">
    <%= render @posts %>
  </div>
</section>
