<header>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <% if logged_in? %>
        <%= link_to "Session App", "/users/#{current_user.id}", id: "logo" %>
      <% else %>
        <%= link_to "Session App", root_path, id: "logo" %>
      <% end %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to "プロフィール", "/users/#{current_user.id}" %></li>
          <li><%= link_to "セッション中の相手", "/room" %></li>
          <li><%= link_to "検索", "/users/search" %></li>
        <% else %>
          <li><%= link_to "ホーム", root_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", "/session" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>
