<!DOCTYPE html>
<html>
  <head>
    <title>SessionApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main class="container">
      <h1 class="jumbotron"><%= main_title( yield(:title) ) %></h1>
      <% flash.each do |message_type, message| %>
        <div class="flash <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</html>
